img {
  width: 300px;
  float: left;
  margin: 0 20px 0 0;
}

/* SIDEBAR */
li {
  list-style: none;
}

.sidebar {
  float: right;
  color: green;
  width: 30%;
  border: 3px solid green;
  padding: 10px;
  margin: 20px;
}
